/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  h1 {
    text-align: center;
    margin-top: 30px;
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    padding: 20px;
  }
  
  .project-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .project-card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .project-card h2 {
    color: #4285f4;
  }
  
  .project-card p {
    margin: 20px;
  }
  
  .project-card a {
    background-color: #4285f4;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
  }
  
  .project-card a:hover {
    background-color: #3367d6;
  }

  .mainIndex-btn{
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 12px 24px;
    margin: 10px;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .mainIndex-btn:hover {
    background-color: #3367d6;
  }

  .avo-image {
    width: 400px; /* Adjust the width as needed */
    height: 250px; /* Adjust the height as needed */
    object-fit: cover; /* Maintains aspect ratio and covers the image container */
  }
  
